<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./javascript/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="./bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="./javascript/prototype.js"></script>
    
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/>
    <link rel="stylesheet" href="./css/perfilAdministrador.css">

    <% if (inside == "1" ) { %>
      <script type="text/javascript" src="./javascript/spotifyManager.js"></script>
    <% } %>
<title>Galileo - Informaci&oacute;n Administrador</title>
</head>
<body>


<div class="container">
  <nav class="navbar navbar-default" role="navigation" style="background:#0B0B61">
    <div class="container-fluid">    
      <div class="navbar-header" >
          <a class="navbar-brand" style="color:white;">GALILEO</a>
          <% if (inside == "1" ) { %>
            <div class="navbar-center-music col-xs-12 col-sm-12 col-md-6">
               <input type='image' id="musicAnterior" onclick="spotifyManager.musicBack();" src="./img/back.png" width="33" height="33"/> 
               <input type='image' id="musicSiguiente" onclick="spotifyManager.musicNext();" src="./img/foward.png" width="33" height="33"/> 
               <input type='image' id="musicPause" src="./img/pause.png" onclick="spotifyManager.musicPause();" width="33" height="33"/> 
               <input type='image' id="resumeMusic" onclick="spotifyManager.musicResume();" src="./img/play.png" width="33" height="33"/> 
               <input id="pass" type="hidden" name="pass"  value="<%= userPass %>"></input>
            </div>
          <% } %>
          <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse"
              data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        </div> <!-- end navbar header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" >
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form  name="historico" class="navbar-form" action="/historico" method="post" role="tag">
                  <div class="form-group">
                    <button id="historico" type="submit" class="btn btn-inverse">Informaci&oacute;n</button>    
                  </div>            
                </form>
              </li>
              <li>
                <form name="perfil" class="navbar-form" action="/perfil" method="post" role="tag">
                  <div class="form-group">
                    <button id="perfil" type="submit" class="btn btn-inverse">Perfil</button>  
                  </div> 
                </form>
              </li>
              <li>
                <form class="navbar-form" role="tag" method="post" name="cerrarSesion" action="/cerrarSesion">
                  <div class="form-group">
                    <button id="cerrarSesion" type="submit" class="btn btn-inverse">Cerrar sesi&oacute;n</button>
                  </div>
                </form>  
              </li>
            </ul>      
        </div> <!-- end div class collapse -->   
    </div> <!-- end content fluid -->
  </nav>
  <div class ="col-xs-12 col-sm-12 col-md-10 col-md-offset-1"> 
    <div class="panel panel-default" >
      <!-- Default panel contents -->
      <div class="panel-heading" style="font-family: Arial; font-size: 140%;background:#0B0B61;color:white;">
        <%= dataAuditoria %>
      </div>
    
  </div>    
  <div class="panel panel-default" >
    <!-- Default panel contents -->
    <div class="panel-heading" style="font-family: Arial; font-size: 140%;text-align:center;background:#0B0B61;color:white;">Usuarios</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Nombre</th><th>Apellido</th><th>DNI</th><th>Email</th>
          </tr>
          <%     
            for (var i = 0; i < data.length ; i++) {         
          %>
            <tbody>
              <tr>
                <td><%= data[i].nombre %></td>
                <td><%= data[i].apellido %></td>
                <td><%= data[i].dni %></td>
                <td><%= data[i].email %></td>
              </tr>  
            </tbody>
          <% } %>  
        </table> 
      </div>
    </div>
  </div>        
  <div class="panel panel-default" >
    <div class="panel-heading" style="font-family: Arial; font-size: 140%;text-align:center;background:#0B0B61;color:white;">Ingreso de usuarios - Historico
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
         <tr>
            <th>Email</th><th>Fecha entrada</th><th>Fecha salida</th>
         </tr>
         <%     
          for (var i = (dataAuditoriaHistorico.length-1); i >= 0; i--)
           {         
          %>
          <tr>
            <td><%= dataAuditoriaHistorico[i].email %></td>
            <td><%= dataAuditoriaHistorico[i].fechaEntrada %></td>
            <td><%= dataAuditoriaHistorico[i].fechaSalida %></td>
          </tr>    
         <% } %>
      </table>     
      </div>
    </div>
  </div>
  </div>
</div><!-- div del container -->


  

    

    



</body>
</html>
