<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
    
    <script type="text/javascript" src="/javascript/prototype.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        body {        
            font-family: "Arial";
            font-size: 140%;
            background-image: url("img/fondo.jpg");
            
        }   
        
        .navbar-center
        {
            position: absolute;
            text-align: center;
            margin: auto;
            margin-top:10px;
            margin-left: 10%;
        }
 
         a:hover {
          cursor:pointer;
         }
        
        .navbar-center-music
        {
            position: absolute;
            text-align: center;
            margin: auto;
            margin-top:10px;
            margin-left: 22%;
        }
        
        
        .music-label{
            font-family: "Arial";
            font-size: 140%;
            color:white;
            text-align: center;
            }
    </style>
    <% if (inside == "1" ) { %>
    <script>
        function musicNext(){
            new Ajax.Request('/musicSiguiente', {
              method: 'post',
              parameters: {pass:$('pass').serialize(true)}
              });
        }
        
        function musicBack(){
            new Ajax.Request('/musicAnterior', {
              method: 'post',
              parameters: {pass:$('pass').serialize(true)}
              });
        }
        
        function musicResume(){
            new Ajax.Request('/resumeMusic', {
              method: 'post',
              parameters: {pass:$('pass').serialize(true)}
              });
        }
        
        function musicPause(){
            new Ajax.Request('/musicPause', {
              method: 'post',
              parameters: {pass:$('pass').serialize(true)}
              });
        }
        
    </script>
    <% } %>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>

<title>Galileo</title>
</head>
<body>

<div class="container">
<nav class="navbar navbar-default" role="navigation" style="background:#0B0B61">
  <div class="container-fluid">    
    <div class="navbar-header" >
        <a class="navbar-brand" style="color:white;">GALILEO</a>
        <!-- <% if (inside == "1" ) { %> -->
        <div class="navbar-center col-xs-12 col-sm-12 col-md-6">
           <input type='image' id="musicAnterior" onclick="musicBack();" src="/img/back.png" width="33" height="33"/> 
           <input type='image' id="musicSiguiente" onclick="musicNext();" src="/img/foward.png" width="33" height="33"/> 
           <input type='image' id="musicPause" src="/img/pause.png" onclick="musicPause();" width="33" height="33"/> 
           <input type='image' id="resumeMusic" onclick="musicResume();" src="/img/play.png" width="33" height="33"/> 
        </div>
        <!-- <% } %> -->
        <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse" > 
       <form class="navbar-form navbar-right" role="tag" method="post" name="cerrarSesion"  action="/cerrarSesion">
            <div class="form-group">
            </div>
            <button id="cerrarSesion" type="submit" class="btn btn-inverse">Cerrar sesión</button>    
      </form>
    </div>
  </div>
</nav>
    
<br>
<br>   
  <div class ="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading" style="background:#0B0B61">
              <h3 class="panel-title" style="text-align: center;color:white;">Usuario Galileo</h3>
      </div>
    <div class="panel-body">
      <form role="form" name="form1" method="post" action="/modPerfil" target="_self" data-toggle="validator">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
              <h4>Nombre:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9" >
              <input type="text" class="form-control" name="nom" placeholder="Juan" value="<%= userName %>">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
              <h4>Apellido:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9" >
              <input type="text" class="form-control" name="ape" placeholder="Lopez" value="<%= userSurname %>">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
              <h4>DNI:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
              <h4><%= userDNI %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
              <h4>Email:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
              <input id ="email" type="email" class="form-control" name="email" value="<%= userEmail %>"placeholder="email@dominio.com">
          </div>
              <br>
              <label style="color:red"><%= errorMessageEmail %></label>
        </div>                
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
              <h4>Contraseña:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
              <h4 name="password"><%= userPass %></h4>
          </div>
          <input id="pass" type="hidden" name="pass"  value="<%= userPass %>"></input>
        </div>    
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
              <h4>Temperatura:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
              <input name ="temp" type="range" min="18" max="40" value=<%= userTemp %> step="1" onchange="showValueTemp(this.value)" />
              <span id="rangeTemp"><%= userTemp %></span>
              <script type="text/javascript">
              function showValueTemp(newValue)
              {
                  document.getElementById("rangeTemp").innerHTML=newValue;
              }
              </script>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
              <h4>Intensidad de luz:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <input name ="luz" type="range" min="0" max="100" value=<%= userLuz %> step="5" onchange="showValueLuz(this.value)" />
                <span id="rangeLuz"><%= userLuz %></span>
                <script type="text/javascript">
                  function showValueLuz(newValue)
                  {
                      document.getElementById("rangeLuz").innerHTML=newValue;
                  }
                </script>
          </div>
        </div>     
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <h4>Playlist 1:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
              <input type="radio" name="playlist" value="<%= indexPlaylist0 %>" <%= checkCero %>
              <a class="menu_link" data-toggle="modal" data-target="#myModal0" style="cursor: pointer; "><%= namePlaylist0 %></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <h4>Playlist 2:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
              <input type="radio" name="playlist" value="<%= indexPlaylist1 %>" <%= checkUno %>
              <a class="menu_link" data-toggle="modal" data-target="#myModal1" style="cursor: pointer; "><%= namePlaylist1 %></a>
          </div>
        </div>       
        <div class="row">
           <div class="col-xs-3 col-sm-3 col-md-3">
            <h4>Playlist 3:</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
              <input type="radio" name="playlist" value="<%= indexPlaylist2 %>" <%= checkDos %>
              <a class="menu_link" data-toggle="modal" data-target="#myModal2" style="cursor: pointer; "><%= namePlaylist2 %></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" >
              <button name="commandButton" type="submit" class="btn btn-default" value="modPerfil"  style="background:#0B0B61;color:white;width:100%; margin-left: -1px;">Modificar perfil</button>
          </div>
        </div>             
    </form>
  </div> <!-- div del panel body -->
</div> <!-- div del col -->
</div> <!-- div del panel -->


<!-- Modal -->
<div class="modal fade" id="myModal0" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= namePlaylist0 %></h4>
            </div>
            <div class="modal-body">
                <pre><%= cancionesPlaylist0 %></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= namePlaylist1 %></h4>
            </div>
                <div class="modal-body">
                <pre><%= cancionesPlaylist1 %></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= namePlaylist2 %></h4>
            </div>
                <div class="modal-body">
                <pre><%= cancionesPlaylist2 %></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>    